@charset "UTF-8";

@font-face {
	font-family: "MapoFlowerIsland";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.comment-container {
	font-family: "yg-jalnan";
	background-color: #EBF5FF;
	border: 1px solid black;
	color: #000069;
	position: relative;
	width: 50%;
	margin: 10px auto;
	padding: 10px 10px;
	border-radius: 5px;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.comment-container img {
	margin-left: 2%;
	width: 60px;
	height: 60px;
	border-radius: 70%;
}

.comment-container2 {
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
	display: flex;
	width: 75%;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.comment-id {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.comment-text-container {
	margin-top: 10px;
	width: 100%;
	display: flex;
}

.comment-text {
	font-weight: 700;
	width: 75%;
	font-size: 12px;
	resize: none;
	border: none;
	color: #f0ebce;
	background-color: #000069;
	border-radius: 5px;
}

.comment-text-reg {
	width: 75%;
	font-size: 12px;
	resize: none;
	border: 2px solid black;
	border-radius: 5px;
}

.comment-button-container {
	margin-left: 5%;
	display: flex;
	width: 20%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.comment-button-container button {
	margin-top: 3px;
	width: 100%;
	border-radius: 5px;
	border: none;
	padding: 5px 0px;
	cursor: pointer;
	background-color: #000069;
	color: #e2e2e2;
	font-family: 'yg-jalnan';
}

.commentOfComment-container {
	width: 40%;
	margin: 10px 0px;
	margin-left: 35%;
	margin-right: 25%;
	padding: 10px 10px;
	border-radius: 5px;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.more-reply {
	position: absolute;
	bottom: 3px;
	left: 14%;
	font-weight: bold;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.more-reply:visited {
	color: #000069;
}

.more-reply:hover {
	border-bottom: 1px solid black;
}

.commentOfComment-container img {
	margin-left: 2%;
	width: 60px;
	height: 60px;
	border-radius: 70%;
}