@charset "UTF-8";
/* account */
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MapoFlowerIsland";
}

.account-container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #646464;
}

.account-container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.img-container {
  width: 78%;
  margin: 10px 0px;
}

.img-container2 {
  width: 60%;
  margin: 10px 0px;
}

.account-img {
  width: 100px;
  height: 85px;
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.item-container2 {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  color: #646464;
  font-size: 14px;
}

.item-container2 h3 {
  margin-right: 10px;
}

.account-item {
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
  font-family: "MapoFlowerIsland";
}

.account-item:visited {
  color: #646464;
}

.account-item:hover {
  color: black;
}

.menu {
  display: flex;
  color: #f3f0d7;
  width: 100%;
}

.menu-item {
  width: 25%;
  background: #f3f0d7;
  transition: 0.5s;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  width: 35%;
  background: #00541a;
}

.menu-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white;
}

.book-container {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.book-item {
  cursor: pointer;
  width: 21%;
  height: 300px;
  margin: 50px 20px;
  position: relative;
}

.item-img {
  margin: 0px auto;
  width: 200px;
  border: 1px solid black;
  height: 300px;
  position: absolute;
  left: 40px;
}

.item-img img {
  width: 200px;
}

.item-desc {
  margin: 0px auto;
  padding-top: 15px;
  width: 200px;
  border: 1px solid black;
  height: 285px;
  background-color: black;
  display: none;
  position: absolute;
  left: 40px;
}

.item-desc p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(227, 223, 223);
}

.item-more {
  font-family: "MapoFlowerIsland";
  width: 170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: #f3f0d7;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.8s;
}

.item-more:hover {
  width: 170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: #00541a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f0d7;
}

.search {
  position: relative;
  margin-top: 300px;
  margin-bottom: 50px;
}

.search-input {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 12px 12px;
  font-size: 14px;
}

.search-img {
  position: absolute;
  width: 17px;
  top: 40px;
  left: 65%;
  margin: 0;
  cursor: pointer;
}

.more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-classification {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 100px;
}

.bestseller {
  display: none;
}

.top-container {
  margin-top: 200px;
}

.top-container2 {
  margin-top: 300px;
}

.usedbooks-container {
  border: 2px solid black;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.usedbooks-item-1 {
  border-bottom: 2px solid #858383;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.usedbooks-item-2 {
  margin-bottom: 10px;
  font-size: 14px;
}

.usedbooks-item-3 {
  display: flex;
  justify-content: space-between;
}

.usedbooks-item-content {
  font-size: 14px;
}

.usedbooks-item-date {
  color: #646464;
}

.usedbooks-header-container {
  width: 40%;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.usedbooks-item-title:hover {
  cursor: pointer;
}

/* .usedbooks-detail-container {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	height: 500px;
}

.usedbooks-detail-img {
	width: 20%;
}

.usedbooks-detail-content {
	border: 1px solid black;
	width: 30%;
	margin: 10px 0px;
}

.usedbooks-detail-content2 {
	margin: 10px 0px;
}

.usedbooks-detail-button {
	width: 100%;
	display: flex;
	justify-content: center;
}

.usedbooks-detail-button img {
	width: 50px;
} */

.usedbooks-header-button {
  width: 100%;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #f3f0d7;
  border: none;
  border-radius: 15px;
  font-family: "MapoFlowerIsland";
  font-size: 18px;
  font-weight: 900;
}

.usedbooks-header-button:hover {
  background-color: #00541a;
  color: white;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.usedbooks-create-container {
  border: 2px solid black;
  width: 50%;
  display: flex;
  margin: 200px auto;
  padding: 20px 20px;
  justify-content: center;
}

.usedbooks-create-item {
  margin-bottom: 20px;
}

.usedbooks-create-item input {
  margin-top: 10px;
  height: 20px;
  width: 500px;
}

.usedbooks-create-item textarea {
  margin-top: 10px;
  width: 500px;
  height: 150px;
  border-radius: 10px;
  font-size: 16px;
}

.usedbooks-create-button-container button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #f3f0d7;
  border: none;
}

.usedbooks-create-button-container button:hover {
  color: white;
  background-color: #00541a;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.usedbooks-create-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.usedbooks-create-header strong {
  margin: 0px auto;
}

.usedbooks-create-item-price {
  width: 40px;
}
