@charset "UTF-8";
/* account */
.account-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #646464;
}

.img-container {
    width: 78%;
}
.account-img {
    width: 150px;
    height: 70px;
}

.item-container {
    display: flex;
    justify-content: flex-end;
    width: 22%;
}

.account-item {
    text-decoration: none;
    margin: 0px 20px;
}
.account-item:visited {
    color: #646464;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.menu-item {
    text-decoration: none;
    border: 1px solid black;
    margin: 0px 10px;
    padding: 20px 20px;
    font-weight: bold;
}

.menu-item:visited {
    color: #646464;
}

.menu-item:hover {
    background-color: green;
    color: white;
    transition: 0.5s;
}
