@charset "UTF-8";

.reg-container {
	margin-top: 10%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.reg-form {
	border: 2px solid black;
	border-radius: 15px;
	width: 400px;
	padding-left: 20px;
}

.reg-field {
	margin-top: 20px;
	margin-bottom: 10px;
}

.like {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 10px;
}

.check-list {
	font-size: 14px;
}

.input-file-button {
	width: 25px;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}

.input-file-img {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 68%;
	left: 54%;
	cursor: pointer;
}

#image_container {
	margin: 20px auto;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
}

#test-img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	object-fit: cover;
}

#profile-img-container {
	position: relative;
}

.reg-button {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;
}

.reg-button button {
	margin-left: -20px;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	font-size: 16px;
	border-radius: 20px;
	background-color: #00541A;
	color: white;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

.reg-questionMark {
	width:15px;
	height: 15px;
	cursor: pointer;
}
.reg-questionMark2 {
	width:15px;
	height: 15px;
	cursor: pointer;
}
.reg-questionMark3 {
	width:15px;
	height: 15px;
	cursor: pointer;
}
.reg-questionMark4 {
	width:15px;
	height: 15px;
	cursor: pointer;
}
.user-rule-field {
    border-radius: 30px;
    padding: 20px 0px;
    padding-left: 20px;
    border: 1px solid white;
    width: 280px;
    height: 60px;
    background-color: #F3F0D7;
    font-size: 12pt;
    position : relative;
    right: 200px;
    top : 150px;
    visibility: hidden;
    transition: 0.3 ease;
    
}
.user-rule-field2 {
    border-radius: 30px;
    padding: 20px 0px;
    padding-left: 20px;
    border: 1px solid white;
    width: 280px;
    height: 60px;
    background-color: #F3F0D7;
    font-size: 12pt;
    position : relative;
    right: 200px;
    top : 130px;
    visibility: hidden;
    transition: 0.3 ease;
}
.user-rule-field3 {
    border-radius: 30px;
    padding: 20px 0px;
    padding-left: 20px;
    border: 1px solid white;
    width: 280px;
    height: 40px;
    background-color: #F3F0D7;
    font-size: 12pt;
    position : relative;
    right: 200px;
    top : 150px;
    visibility: hidden;
    transition: 0.3 ease;
}
.user-rule-field4 {
    border-radius: 30px;
    padding: 20px 0px;
    padding-left: 20px;
    border: 1px solid white;
    width: 280px;
    height: 40px;
    background-color: #F3F0D7;
    font-size: 12pt;
    position : relative;
    right: 200px;
    top : 130px;
    visibility: hidden;
    transition: 0.3 ease;
}