@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	font-family: "돋움";
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
#visual {
   position: relative;
   width: 90%;
   height: 500px;
   margin: 20px auto;
   margin-left:auto;
   margin-right:auto;
   overflow: hidden;
   box-shadow: 1px 5px 10px 2px #666;
}
#visual>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
	opacity: 0;
	display: none;
}
#visual>div.on {
	opacity: 1;
	display: block;
}
#control {
	position: absolute;
	width: 100%;
	bottom: 30px;
	text-align: center;
}
#control a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #f6f5f5;
	line-height: 26px;
	font-size: 0.8em;
	border-radius: 14px;
	margin: 5px 2px;
}
#control a.on {
	background: #9ab3f5;
}
#newBook{
	text-align: center;
	margin-top: 20px;
	float:left;
	margin-right:10px;
	width: 60%;
	height:100%;
	
}
#scholarInfo{
	margin-top: 20px;
	float:left;
	text-align: center;
	
}
#scholarInfo-grid{
	
	margin-top: 15px;
	display:grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 250px 250px;
	column-gap: 10px;
	row-gap: 10px;
}
.logo{
	width :250px;
	height : 250px;
}

#first-view{
	display: flex;
	width: 100%;
	height: 40%;
}