@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	font-family: "돋움";
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
#visual {
	position: relative;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 1px 5px 10px 2px #666;
}
#visual>div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
	opacity: 0;
}
#visual>div.on {
	opacity: 1;
}
#control {
	position: absolute;
	width: 100%;
	bottom: 30px;
	text-align: center;
}
#control a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #f6f5f5;
	line-height: 26px;
	font-size: 0.8em;
	border-radius: 14px;
	margin: 0 2px
}
#control a.on {
	background: #9ab3f5;
}