@charset "UTF-8";

@font-face {
	font-family: "MapoFlowerIsland";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.usedbooks-create-container {
	flex-direction: column;
	font-family: "MapoFlowerIsland";
	border: 5px double #00541a;
	width: 50%;
	display: flex;
	margin: 30px auto;
	padding: 20px 20px;
	justify-content: center;
	background-color: #f3f0d7;
	color: #00541a;
}

.usedbooks-create-item {
  margin-bottom: 20px;
  width: 100%;
  display: flex-end;
  font-size: 20px;
}
.usedbooks-create-item-title{
	font-size: 20px;
	
}
.usedbooks-create-header{
	font-size: 25px;
}
.usedbooks-create-textarea {
	resize: none;
}

.usedbooks-create-item textarea {
	margin-top: 10px;
	width: 100%;
	height: 150px;
	border-radius: 10px;
	font-size: 16px;
}

.usedbooks-create-button-container button {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #5f8d4e;
	background-color: #00541a;
	color: #f3f0d7;
}

.usedbooks-create-button-container button:hover {
	color: white;
	border-radius: 10px;
	border: 5px double #00541a;
	transition: 0.3s ease-in;
	cursor: pointer;
	background-color: #5f8d4e;
	color: #f3f0d7;
}

.usedbooks-detail-container {
	width: 50%;
	padding: 10px 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: 'yg-jalnan';
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	background-color: #EBF5FF;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.usedbooks-detail-button {
	font-family: 'yg-jalnan';
}

.usedbooks-detail-title {
	padding: 5px 5px;
	background-color: #000069;
	color: #f3f0d7;
	display: inline-flex;
	justify-content: space-between;
}

.usedbooks-detail-img {
	width: 40%;
	margin: 0px 10px;
}

.usedbooks-detail-content-container {
	display: inline-flex;
	justify-content: center;
	margin: 5%;
}

.usedbooks-detail-content {
	width: 40%;
	margin: 10px 20px;
}

.usedbooks-detail-writer {
	display: inline-flex;
	justify-content: flex-end;
	width: 100%;
	color: #f3f0d7;
	background-color: #000069;
}

.usedbooks-detail-button {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.usedbooks-detail-button button {
	cursor: pointer; font-family : 'yg-jalnan';
	background-color: #EBF5FF;
	color: #000069;
	width: 200px;
	height: 40px;
	margin: 5px 10px;
	border-radius: 10px;
	border: 5px solid #50C8FF;
	font-family: 'yg-jalnan';
}

.usedbooks-detail-button button:hover {
	background-color: #000069;
	color: #f3f0d7;
	width: 200px;
	height: 40px;
	margin: 5px 10px;
	border-radius: 10px;
	border: 5px solid #000069;
	transition: 0.5s;
}

.usedbooks-update-button-container {
	display: flex;
	justify-content: center;
}

.usedbooks-update-button-container button {
	width: 45%;
	height: 40px;
	border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #5f8d4e;
	background-color: #00541a;
	color: #f3f0d7;
	margin: 0px auto;
}

.usedbooks-update-button-container button:hover {
	color: white;
	border-radius: 10px;
	border: 5px double #00541a;
	transition: 0.3s ease-in;
	cursor: pointer;
	background-color: #5f8d4e;
	color: #f3f0d7;
}

.project-card {
	width: 250px;
	height: 280px;
	border-radius: 25px;
	position: relative;
	box-shadow: 5px 5px 20px;
	transition: all 0.5s;
	margin: 0px 30px;
}

.project-card:hover {
	width: 260px;
	height: 270px;
	border: 5px double black;
}

.project-thumbnail {
	margin: 0px auto;
	width: 60%;
	height: 70%;
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-size: cover;
	text-align: center;
}

.project-explain {
	width: 90%;
	height: 20%;
	display: absolute;
	z-index: 2;
	text-align: center;
}

.contents-wrap {
	display: flex;
	margin-left: 40px;
	justify-content: center;
	font-family: 'yg-jalnan';
}

.contents-img {
	margin-top: 10px;
	width: 150px;
	height: 150px;
}

.paging-icon {
	width: 50px;
	height: 50px;
}

.paging-icon:hover {
	width: 60px;
	height: 60px;
}

.review-wrap {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0px auto;
}

.review-wrap-item {
	border: 1px solid black;
	width: 20%;
	margin: 2% 2%;
}

.review-wrap-img {
	width: 50px;
	height: 50px;
}

.review-container3 {
	cursor: pointer;
}

.usedbooks-container3 {
	cursor: pointer;
}

.usedbooks-header-container2 {
	width: 40%;
	margin: 0px auto;
}

.usedbooks-item-date {
	margin-bottom: 10px;
}

.paging-icon {
	cursor: pointer;
}