@charset "UTF-8";
.myPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage {
    background-color: #EBF5FF;
    margin: 80px auto;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
}

.myPage h3{
    margin: 20px auto;
    font-weight: bold;
}
.myPage span{
    margin-right: 20px;
}
.myPage-img {
    margin: 0px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.myPage-field {
    background-color: white;
    border: 1px solid #EBF5FF;
    margin: 10px auto;
    width: 50%;
    padding: 10px 10px;
    border-radius: 15px;
}

.myPage-field-classification {
    font-weight: bold;
}

.myPage-additional {
    background-color: #EBF5FF;
    margin-top: 30px;
    display: flex;
    width: 70%;
    color: white;
    justify-content: space-between;
}

.myPage-additional a {
	font-family: 'yg-jalnan';
    background-color: #000069;
    color: white;
    padding: 20px 5px;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    cursor: pointer;
}

