@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.item-container {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	/* justify-content: center;  */
	align-items: center;
	height: 500px;
}

.item-desc-img {
	width: 20%;
}

.board-item-content {
	border: 1px solid black;
	width: 30%;
	margin: 10px 0px;
}

.board-item-content2 {
	margin: 10px 0px;
}

.board-item-button {
	width: 100%;
	display: flex;
	justify-content: center;
}

.board-item-button img {
	width: 50px;
}

